{% extends 'admin/base.html' %}

{% block content %}

<h2>Support Tickets</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Subject</th>
            <th>Status</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    {% for ticket in tickets %}
        <tr>
            <td>#{{ ticket.id }}</td>
            <td>{{ ticket.user.username }}</td>
            <td>{{ ticket.subject }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.created_at }}</td>
            <td>
                <a href="{% url 'admin-support-detail' ticket.id %}">
                    Open
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}